*{font-style: 'Comic-Sans', sans-serif !important;}

body {
    background-color: #333;
}
.search-container {
    background-color: #0b0000;
    padding: 20px;
    border-radius: 8px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 100px;
}

.main{
    background-color: gold;
}

.h2words{
    font-size: 200%;
}

.pwords{
    font-size: 150%;
}


.img_2{
    width: 300px;
}

.btn{
    background-color: rgb(0, 0, 0);
    color: rgb(204, 32, 32);
    
}


.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 100%;
}


ul {
    color: white;
}

input::placeholder {
    font-style: italic;
}
