*{font-style: comic-sans;}

body {
    background-color: #333;
}
.search-container {
    background-color: #0b0000;
    padding: 20px;
    border-radius: 8px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 100px;
}

.main{
    background-color: gold;

    
}

.placeholder{

  
}

.words{

}


.img_2{
    width: 300px;
}

.button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    text-align: center;
}


.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    text-align: center;
    color: red;
}


ul {
    color: white;
}
